.container{
    display: flex;
    padding: 5%;
    position: fixed;
    height: 100vh;
    top: 0;
    transform: translateX(-100%);
    background-color: #181818;
    z-index: 9;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .content{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        padding-block: 10%;
        align-items: center;
        height: 100%;
        overflow: hidden;

    & .linksContainer{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            gap: 20px;

    & .title{
        color: gray;
        font-size: 2.5vw;
        font-weight: 500;
        padding-block: 5%;
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;

    }
    & .title::after{
            content: '';
            left: 0;
            width: 100%;
            position: absolute;
            z-index: 1;
            bottom: 0;
            background-color: lightgray;
            height: 1px;
    
    }
    }

     & .socialContainer{
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100px;
            width: 100%;
            align-self: flex-end;
        
        &   .title{
                color: gray;
                font-size: 2.5vw;
                font-weight: 500;
                font-family: sans-serif;
                text-transform: uppercase;
            }
    
        }
       & .socialContainer::before{
            content: '';
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            background-color: lightgray;
            height: 1px;
        }
    }
   
    
}