.container{
    /* display: grid;
    grid-template-columns:  1fr 1fr; */
    display: flex;
    width: 98vw;
    height: 100vh;
    min-height: 100%;
    position: relative;
    padding-block: 1em;
    gap: 20px;

    .category{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 15vw;
        height: 100%;

        & h5{
            font-size: 20px;
        }

        .lists{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap:15px;
            width: 100%;
            height: 100%;
            padding: 1em;
    
            & li{
                cursor: pointer;
                border-radius: 5px;
                align-self: center;
                font-size: 15px;
                font-weight: 450;
                font-family: 'Roboto Mono', monospace;
                text-transform: capitalize;
                padding: 10px;
                width: 150px;
                text-align: center;
                padding-inline:  1em;
           }
          &  li:hover{
                   filter: brightness(90%);
                   color: gray;
                   }
            }
    }

    .gallery{
        position: relative;
        width: 85vw;
        height: 100%;
        border-radius: 3px;
        background-color: lightgray;


        .imgContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            & img{
                color:green;
            }
        }
    }
  
}

@media(max-width: 1024px){
    .container{
        height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        padding-block: .5em;

         .category{
         width: 100vw;
         height: fit-content;
         padding: 1em;
         justify-content: center;
         align-items: center;

         & h5{
         margin: 5vw;
         }
        
         & .lists{
            flex-direction: row;
            padding: 0;
            width: 95vw;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            
            & li{
                padding: .7em;
                padding-inline: 1em;
                width: fit-content;
                border: lightgrey 1px solid;

            }

         }

         }
        
        & .gallery{
            width: 97vw;
            align-self: center;
        }

}
}