.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 2em;
    justify-content: center;
    background-color: 'whitesmoke';
    .cta{
        width: 100%;
        align-self: flex-start;
        line-height: 1.5em;

        & h1{
            font-size:12px;
        }
    }
    .date{
        font-size: 12px;
        font-family: 'Roboto Mono', sans-serif;
        text-transform: uppercase;
    }
}
