.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    padding: 2em;
    justify-content: flex-start;
    gap: 14px;
    padding: 2em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    .cta{
        width: 100%;
        align-self: flex-start;
        line-height: 1.5em;

        & h1{
            font-size:12px;
        }
    }
    .date{
        font-size: 16px;
        margin: 0;
        font-weight: 500;
        text-transform: uppercase;
    }
}
