.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 2em;
    justify-content: center;
    background-color: #181818;
    color: lightgray;
    gap: 14px;
    padding: 2em;
    .cta{
        width: 100%;
        align-self: flex-start;
        line-height: 1.5em;

        & h1{
            font-size:12px;
        }
    }
    .date{
        font-size: 16px;
        margin: 0;
        font-weight: 450;
        font-family: 'Teko', sans-serif;
        text-transform: uppercase;
    }
}
